# read in the content of .env too
dotenv_if_exists

# https://github.com/equinix-labs/otel-init-go#configuration
export OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
export OTEL_EXPORTER_OTLP_INSECURE=true
